{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>
    Добро пожаловать в питомник <b>Prokhor's Main Coon'!</b>
</p>
<p>
    Мы рады приветствовать вас на нашем сайте, посвященном одной из самых замечательных пород кошек - Мейн-Кун.
    Наша миссия - популяризация этой замечательной породы и помощь в выборе идеального питомца для каждого любителя Мейн-Кунов.
</p>
<p>
    Питомник <b>Prokhor's Main Coon'!</b> - это не просто место, где рождаются и растут пушистые котята. Это также и команда профессионалов, которая заботится о каждом питомце, начиная от его рождения и заканчивая передачей в новый дом.
    Наши специалисты следят за здоровьем кошек, их развитием и воспитанием.
</p>
<p>
    Мы предлагаем котят различных окрасов, возрастов и темпераментов, чтобы каждый любитель Мейн-Кунов смог найти своего идеального питомца.
    Наши котята проходят обязательную вакцинацию, дегельминтизацию и обработку от внешних паразитов. Кроме того, они имеют все необходимые документы, подтверждающие их происхождение и здоровье.
</p>  
<p>
    На нашем сайте вы можете узнать больше о породе Мейн-Кун, ее особенностях, характере и уходе за этими удивительными кошками, прочитав наши статьи в блоге.
</p>
   
{% endblock %}
